In [5]:
import numpy as np
import pandas as pd
import os
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [6]:
df= pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/inter강수량/gangsuinter.csv',encoding='cp949')
df.head()

         date  place  gangsu  price
0  2015-01-02    100     NaN    380
1  2015-01-05    100     0.7    380
2  2015-01-06    100     1.4    380
3  2015-01-07    100     NaN    380
4  2015-01-08    100     NaN    380

In [7]:
df = df.fillna(0)   
df

            date  place  gangsu  price
0     2015-01-02    100     0.0    380
1     2015-01-05    100     0.7    380
2     2015-01-06    100     1.4    380
3     2015-01-07    100     0.0    380
4     2015-01-08    100     0.0    380
...          ...    ...     ...    ...
1717  2021-12-27    100     0.0    925
1718  2021-12-28    100     0.0    894
1719  2021-12-29    100     0.0    922
1720  2021-12-30    100     0.0    926
1721  2021-12-31    100     0.0    896

[1722 rows x 4 columns]

In [8]:
df.to_csv('./배추가격/baechu(fill).csv', index=False)

In [10]:
df['price']=df['price'].astype(float)

In [13]:
x=df['gangsu']
y=df['price']
import scipy.stats as stats
print('강수량 상관관계:',stats.pearsonr(x,y))

강수량 상관관계: (0.15134044314479794, 2.7545072085978127e-10)

In [29]:
df1= pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/inter수입량/incomeintegrated.csv',encoding='cp949')
df1["income"] = df1["income"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df1["price"] = df1["price"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df1['price']=df1['price'].astype(float)
df1['income']=df1['income'].astype(float)
df1.head()

     date      income   price
0  2015.0  31717400.0   554.0
1  2016.0  38074600.0  1086.0
2  2017.0  28777200.0   907.0
3  2018.0   8301900.0   928.0
4  2019.0  45039270.0   764.0

In [31]:
df1 = df1.fillna(0)
df1['price']=df1['price'].astype(float)
x=df1['income']
y=df1['price']
import scipy.stats as stats
print('수입량 상관계수:',stats.pearsonr(x,y))

수입량 상관계수: (0.3261049550419851, 0.47534816080575326)

In [35]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/inter온도/ondointer.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1722 non-null   object
 1   place   1722 non-null   int64
 2   ondo    1722 non-null   float64
 3   price   1722 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 53.9+ KB

In [36]:
df2['price']=df2['price'].astype(float)
x=df2['ondo']
y=df2['price']
import scipy.stats as stats
print('온도 상관계수:',stats.pearsonr(x,y))

온도 상관계수: (0.2940918932763599, 1.062750872856151e-35)

In [37]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/inter유가/ugainter.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1722 non-null   object
 1   uga     1722 non-null   float64
 2   price   1722 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [38]:
df2['price']=df2['price'].astype(float)
x=df2['uga']
y=df2['price']
import scipy.stats as stats
print('유가 상관계수:',stats.pearsonr(x,y))

유가 상관계수: (-0.11382771056279188, 2.185422240221528e-06)

In [39]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/inter일사량/illsaintegrated.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1722 non-null   object
 1   illsa   1722 non-null   float64
 2   price   1722 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [40]:
df2['price']=df2['price'].astype(float)
x=df2['illsa']
y=df2['price']
import scipy.stats as stats
print('일사량 상관계수:',stats.pearsonr(x,y))

일사량 상관계수: (0.004511212789937734, 0.8516082905836146)

In [2]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/inter적설량/snowintegrated.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1722 non-null   object
 1   snow    1722 non-null   float64
 2   price   1722 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [3]:
df2['price']=df2['price'].astype(float)
x=df2['snow']
y=df2['price']
import scipy.stats as stats
print('적설량 상관계수:',stats.pearsonr(x,y))

적설량 상관계수: (-0.003335555525720791, 0.8899911689304328)