In [11]:
import numpy as np
import pandas as pd
import os
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [12]:
df= pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/inter강수량/gangsuintegrated.csv',encoding='cp949')
df = df.fillna(0)  
df.head()

         date  gangsu  price
0  2015-01-02     0.8    445
1  2015-01-05     9.8    450
2  2015-01-06     5.1    450
3  2015-01-07     0.0    450
4  2015-01-08     0.0    450

In [13]:
df.to_csv('./무가격/mu(fill).csv', index=False)

In [3]:
df['price']=df['price'].astype(float)

In [4]:
x=df['gangsu']
y=df['price']
import scipy.stats as stats
print('강수량 상관관계:',stats.pearsonr(x,y))

강수량 상관관계: (0.0868637869522729, 0.0003076275409895238)

In [7]:
df1= pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/inter수입량/incomeintegrated.csv',encoding='cp949')
df1["income"] = df1["income"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df1["price"] = df1["price"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df1['price']=df1['price'].astype(float)
df1['income']=df1['income'].astype(float)
df1.head()

     date       income   price
0  2015.0  714912700.0  1986.0
1  2016.0  756909010.0  1747.0
2  2017.0  632338300.0  1678.0
3  2018.0  411250580.0  2271.0
4  2019.0  626124650.0  2432.0

In [8]:
df1 = df1.fillna(0)
df1['price']=df1['price'].astype(float)
x=df1['income']
y=df1['price']
import scipy.stats as stats
print('수입량 상관계수:',stats.pearsonr(x,y))

수입량 상관계수: (0.3698232531676653, 0.4142068052850946)

In [8]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/inter기온/ondointegrated.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1722 non-null   object
 1   ondo    1722 non-null   float64
 2   price   1722 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [11]:
df2['price']=df2['price'].astype(float)
x=df2['ondo']
y=df2['price']
import scipy.stats as stats
print('온도 상관계수:',stats.pearsonr(x,y))

온도 상관계수: (0.16009965975392026, 2.357448867143817e-11)

In [12]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/inter유가/ugaintegrated.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1722 non-null   object
 1   uga     1722 non-null   float64
 2   price   1722 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [13]:
df2['price']=df2['price'].astype(float)
x=df2['uga']
y=df2['price']
import scipy.stats as stats
print('유가 상관계수:',stats.pearsonr(x,y))

유가 상관계수: (0.018321468997919074, 0.4473756547571312)

In [14]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/inter일사량/sunintegrated.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1721 entries, 0 to 1720
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1721 non-null   object
 1   sun     1721 non-null   float64
 2   price   1721 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [16]:
df2['price']=df2['price'].astype(float)
x=df2['sun']
y=df2['price']
import scipy.stats as stats
print('일사량 상관계수:',stats.pearsonr(x,y))

일사량 상관계수: (-0.006698460766893885, 0.7812530733186661)

In [8]:
df2= pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/inter적설량/snowintegrated.csv',encoding='cp949')
df2 = df2.fillna(0)   
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1722 non-null   object
 1   snow    1722 non-null   float64
 2   price   1722 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [9]:
df2['price']=df2['price'].astype(float)
x=df2['snow']
y=df2['price']
import scipy.stats as stats
print('적설량 상관계수:',stats.pearsonr(x,y))

적설량 상관계수: (-0.04902073390476892, 0.04195577946063255)