In [1]:
import numpy as np
import pandas as pd
import os
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [240]:
# baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/2021배추1kg.csv',encoding='cp949')
# print(baechu)
# baechu=baechu.transpose()
# print(baechu)
# baechu.to_csv('C:/Users/nicky/Desktop/elastic/배추가격/2021baechu.csv',index = True)

In [6]:
baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/무가격연간.csv',encoding='utf-8')
baechu.columns = ['date','price']
print(baechu)

   date  price
0  2015  1,986
1  2016  1,747
2  2017  1,678
3  2018  2,271
4  2019  2,432
5  2020  2,494
6  2021  2,859

In [74]:
month = baechu['구분'].apply(lambda x:x[:2])
day = baechu['구분'].apply(lambda x:x[4:6])
baechu['date'] = '2021-' + month + '-' + day
baechu.pop('구분')
baechu

      평균        date
0    473  2021-01-04
1    510  2021-01-05
2    520  2021-01-06
3    510  2021-01-07
4    510  2021-01-08
..   ...         ...
243  925  2021-12-27
244  894  2021-12-28
245  922  2021-12-29
246  926  2021-12-30
247  896  2021-12-31

[248 rows x 2 columns]

In [75]:
baechu.columns = ['price', 'date']
baechu["price"] = baechu["price"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
baechu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   248 non-null    object
 1   date    248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [7]:
ondo =  pd.read_csv('C:/Users/nicky/Desktop/elastic/무데이터/수입량/무수입량.csv',encoding='cp949')
print(ondo.shape)
print(ondo.head)

(90, 6)
<bound method NDFrame.head of       date        수출(중량)        수출(금액)        수입(중량)        수입(금액)  Unnamed: 5
0   2015.0  3,036,385.10  1,558,636.00  7,149,127.00  3,420,363.00         NaN
1   2016.0  2,115,865.50  1,297,197.00  7,569,090.10  3,557,202.00         NaN
2   2017.0  3,049,651.20  2,005,764.00  6,323,383.00  3,572,700.00         NaN
3   2018.0  3,971,929.30  2,786,969.00  4,112,505.80  3,150,242.00         NaN
4   2019.0  4,255,611.90  2,639,560.00  6,261,246.50  3,617,783.00         NaN
..     ...           ...           ...           ...           ...         ...
85     NaN           NaN           NaN           NaN           NaN         NaN
86     NaN           NaN           NaN           NaN           NaN         NaN
87     NaN           NaN           NaN           NaN           NaN         NaN
88     NaN           NaN           NaN           NaN           NaN         NaN
89     NaN           NaN           NaN           NaN           NaN         NaN

[90 rows x 6 columns]>

In [8]:
ondo=ondo.drop(['수출(중량)','수출(금액)','수입(금액)','Unnamed: 5'], axis=1)
ondo.columns=['date','income']
ondo

      date        income
0   2015.0  7,149,127.00
1   2016.0  7,569,090.10
2   2017.0  6,323,383.00
3   2018.0  4,112,505.80
4   2019.0  6,261,246.50
..     ...           ...
85     NaN           NaN
86     NaN           NaN
87     NaN           NaN
88     NaN           NaN
89     NaN           NaN

[90 rows x 2 columns]

In [9]:
df = pd.merge(left = ondo , right = baechu, how = "inner", on = "date")

In [10]:
df

     date        income  price
0  2015.0  7,149,127.00  1,986
1  2016.0  7,569,090.10  1,747
2  2017.0  6,323,383.00  1,678
3  2018.0  4,112,505.80  2,271
4  2019.0  6,261,246.50  2,432
5  2020.0  7,318,965.80  2,494
6  2021.0  9,795,874.00  2,859

In [11]:
df.to_csv('./무가격/inter수입량/incomeintegrated.csv', index=False)