In [229]:
import numpy as np
import pandas as pd
import os
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [240]:
# baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/2021배추1kg.csv',encoding='cp949')
# print(baechu)
# baechu=baechu.transpose()
# print(baechu)
# baechu.to_csv('C:/Users/nicky/Desktop/elastic/배추가격/2021baechu.csv',index = True)

In [601]:
baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/2021baechu.csv',encoding='cp949')
print(baechu)

          구분   평균
0    01월 04일  473
1    01월 05일  510
2    01월 06일  520
3    01월 07일  510
4    01월 08일  510
..       ...  ...
243  12월 27일  925
244  12월 28일  894
245  12월 29일  922
246  12월 30일  926
247  12월 31일  896

[248 rows x 2 columns]

In [602]:
month = baechu['구분'].apply(lambda x:x[:2])
day = baechu['구분'].apply(lambda x:x[4:6])

In [603]:
baechu['date'] = '2021-' + month + '-' + day
baechu

          구분   평균        date
0    01월 04일  473  2021-01-04
1    01월 05일  510  2021-01-05
2    01월 06일  520  2021-01-06
3    01월 07일  510  2021-01-07
4    01월 08일  510  2021-01-08
..       ...  ...         ...
243  12월 27일  925  2021-12-27
244  12월 28일  894  2021-12-28
245  12월 29일  922  2021-12-29
246  12월 30일  926  2021-12-30
247  12월 31일  896  2021-12-31

[248 rows x 3 columns]

In [604]:
baechu.pop('구분')

0      01월 04일
1      01월 05일
2      01월 06일
3      01월 07일
4      01월 08일
        ...
243    12월 27일
244    12월 28일
245    12월 29일
246    12월 30일
247    12월 31일
Name: 구분, Length: 248, dtype: object

In [605]:
baechu.columns = ['price', 'date']
baechu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   248 non-null    object
 1   date    248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [606]:
baechu["price"] = baechu["price"].str.replace(pat=r'[^\w]', repl=r'', regex=True)

In [607]:
baechu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   248 non-null    object
 1   date    248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [608]:
baechu

    price        date
0     473  2021-01-04
1     510  2021-01-05
2     520  2021-01-06
3     510  2021-01-07
4     510  2021-01-08
..    ...         ...
243   925  2021-12-27
244   894  2021-12-28
245   922  2021-12-29
246   926  2021-12-30
247   896  2021-12-31

[248 rows x 2 columns]

In [610]:
ondo =  pd.read_csv('C:/Users/nicky/Desktop/elastic/배추데이터/적설량/2021대관령적설량.csv',encoding='cp949')
print(ondo.shape)
print(ondo.head)

(6, 4)
<bound method NDFrame.head of     지점  지점명          일시  일 최심신적설(cm)
0  104  북강릉  2021-03-01         32.4
1  104  북강릉  2021-03-02          6.2
2  104  북강릉  2021-03-06          2.3
3  104  북강릉  2021-03-07          0.1
4  104  북강릉  2021-12-24         12.9
5  104  북강릉  2021-12-25         23.5>

In [611]:
ondo.columns=['place','name','date','snow']
ondo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   place   6 non-null      int64
 1   name    6 non-null      object
 2   date    6 non-null      object
 3   snow    6 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [612]:
df = pd.merge(left = ondo , right = baechu, how = "inner", on = "date")

In [613]:
df

   place name        date  snow price
0    104  북강릉  2021-03-02   6.2  1046
1    104  북강릉  2021-12-24  12.9   797

In [614]:
df=df.drop(['place','name'], axis=1)

In [615]:
df

         date  snow price
0  2021-03-02   6.2  1046
1  2021-12-24  12.9   797

In [616]:
df.to_csv('./배추가격/inter적설량/2021snowintegrated.csv', index=False)