In [1]:
import numpy as np
import pandas as pd
import os
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [2]:
baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/예측실제/배추(예측실제).csv',encoding='cp949')
print(baechu)

         pred    actual
0    0.744610  0.882579
1    0.762424  0.808903
2    0.708067  0.817345
3    0.745046  0.825019
4    0.730728  1.000000
..        ...       ...
320  0.174289  0.230622
321  0.202213  0.218726
322  0.215008  0.229470
323  0.227202  0.231005
324  0.229871  0.219493

[325 rows x 2 columns]

In [3]:
mu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/예측실제/무(예측실제).csv',encoding='cp949')
print(mu)

         pred    actual
0    0.735156  0.755303
1    0.772896  0.716667
2    0.726140  0.707576
3    0.714350  0.700000
4    0.718827  0.715152
..        ...       ...
320  0.146518  0.165152
321  0.170641  0.172727
322  0.179737  0.172727
323  0.176915  0.171212
324  0.173485  0.181818

[325 rows x 2 columns]

In [14]:
intergrate=pd.concat([baechu,mu],axis=1)

In [15]:
print(intergrate)

         pred    actual      pred    actual
0    0.744610  0.882579  0.735156  0.755303
1    0.762424  0.808903  0.772896  0.716667
2    0.708067  0.817345  0.726140  0.707576
3    0.745046  0.825019  0.714350  0.700000
4    0.730728  1.000000  0.718827  0.715152
..        ...       ...       ...       ...
320  0.174289  0.230622  0.146518  0.165152
321  0.202213  0.218726  0.170641  0.172727
322  0.215008  0.229470  0.179737  0.172727
323  0.227202  0.231005  0.176915  0.171212
324  0.229871  0.219493  0.173485  0.181818

[325 rows x 4 columns]

In [240]:
# baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/배추가격/2021배추1kg.csv',encoding='cp949')
# print(baechu)
# baechu=baechu.transpose()
# print(baechu)
# baechu.to_csv('C:/Users/nicky/Desktop/elastic/배추가격/2021baechu.csv',index = True)

In [35]:
baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/마늘/garlic_price.csv',encoding='cp949')
print(baechu)

            date   price  Unnamed: 2
0     2015-01-04   5,967         NaN
1     2015-01-05   5,967         NaN
2     2015-01-06   5,967         NaN
3     2015-01-07   5,967         NaN
4     2015-01-08   5,967         NaN
...          ...     ...         ...
1719  2021-12-27  10,625         NaN
1720  2021-12-28  10,625         NaN
1721  2021-12-29  10,625         NaN
1722  2021-12-30  10,625         NaN
1723  2021-12-31  10,625         NaN

[1724 rows x 3 columns]

In [36]:
baechu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1724 non-null   object
 1   price       1724 non-null   object
 2   Unnamed: 2  0 non-null      float64
dtypes: float64(1), object(2)
memory usage: 40.5+ KB

In [37]:
baechu=baechu.drop(['Unnamed: 2'],axis=1)

In [38]:
baechu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1724 non-null   object
 1   price   1724 non-null   object
dtypes: object(2)
memory usage: 27.1+ KB

In [39]:
baechu["price"] = baechu["price"].str.replace(pat=r'[^\w]', repl=r'', regex=True)

In [40]:
baechu

            date  price
0     2015-01-04   5967
1     2015-01-05   5967
2     2015-01-06   5967
3     2015-01-07   5967
4     2015-01-08   5967
...          ...    ...
1719  2021-12-27  10625
1720  2021-12-28  10625
1721  2021-12-29  10625
1722  2021-12-30  10625
1723  2021-12-31  10625

[1724 rows x 2 columns]

In [41]:
ondo =  pd.read_csv('C:/Users/nicky/Desktop/elastic/마늘/일사량.csv',encoding='utf-8')
print(ondo.shape)
print(ondo.head)

(2557, 2)
<bound method NDFrame.head of             date    sun
0     2015-01-01  10.75
1     2015-01-02   9.96
2     2015-01-03  10.80
3     2015-01-04   8.16
4     2015-01-05   7.30
...          ...    ...
2552  2021-12-27   9.82
2553  2021-12-28   9.92
2554  2021-12-29   5.65
2555  2021-12-30  10.55
2556  2021-12-31  11.26

[2557 rows x 2 columns]>

In [42]:
df = pd.merge(left = ondo , right = baechu, how = "inner", on = "date")

In [43]:
df

            date    sun  price
0     2015-01-04   8.16   5967
1     2015-01-05   7.30   5967
2     2015-01-06  10.72   5967
3     2015-01-07  11.34   5967
4     2015-01-08  11.84   5967
...          ...    ...    ...
1719  2021-12-27   9.82  10625
1720  2021-12-28   9.92  10625
1721  2021-12-29   5.65  10625
1722  2021-12-30  10.55  10625
1723  2021-12-31  11.26  10625

[1724 rows x 3 columns]

In [45]:
df['price']=df['price'].astype(float)

In [46]:
df

            date    sun    price
0     2015-01-04   8.16   5967.0
1     2015-01-05   7.30   5967.0
2     2015-01-06  10.72   5967.0
3     2015-01-07  11.34   5967.0
4     2015-01-08  11.84   5967.0
...          ...    ...      ...
1719  2021-12-27   9.82  10625.0
1720  2021-12-28   9.92  10625.0
1721  2021-12-29   5.65  10625.0
1722  2021-12-30  10.55  10625.0
1723  2021-12-31  11.26  10625.0

[1724 rows x 3 columns]

In [47]:
df.to_csv('./마늘/sunintegrated.csv', index=False)