In [1]:
import numpy as np
import pandas as pd
import os
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [36]:
# baechu =  pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/2021무가격.csv',encoding='utf-8')
# print(baechu)
# baechu=baechu.transpose()
# print(baechu)
# baechu.to_csv('C:/Users/nicky/Desktop/elastic/무가격/2021mu.csv',index = True)

In [361]:
baechu = pd.read_csv('C:/Users/nicky/Desktop/elastic/무가격/2021mu.csv',encoding='cp949')
print(baechu)
baechu.info()

          구분   평균
0    01월 04일  755
1    01월 05일  795
2    01월 06일  829
3    01월 07일  811
4    01월 08일  751
..       ...  ...
243  12월 27일  568
244  12월 28일  578
245  12월 29일  578
246  12월 30일  576
247  12월 31일  590

[248 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      248 non-null    object
 1   평균      248 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.0+ KB

In [362]:
month = baechu['구분'].apply(lambda x:x[:2])
day = baechu['구분'].apply(lambda x:x[4:6])
baechu['date'] = '2021-' + month + '-' + day
baechu.pop('구분')
baechu

      평균        date
0    755  2021-01-04
1    795  2021-01-05
2    829  2021-01-06
3    811  2021-01-07
4    751  2021-01-08
..   ...         ...
243  568  2021-12-27
244  578  2021-12-28
245  578  2021-12-29
246  576  2021-12-30
247  590  2021-12-31

[248 rows x 2 columns]

In [364]:
baechu.columns = ['price', 'date']
# baechu["price"] = baechu["price"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
baechu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   248 non-null    int64
 1   date    248 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.0+ KB

In [365]:
ondo =  pd.read_csv('C:/Users/nicky/Desktop/elastic/유가/muga_2021.csv',encoding='cp949')
print(ondo.shape)
print(ondo.head)

(365, 3)
<bound method NDFrame.head of     place        date     uga
0     두바이  2021-01-01  52.490
1     두바이  2021-01-02  52.100
2     두바이  2021-01-03  51.495
3     두바이  2021-01-04  52.490
4     두바이  2021-01-05  50.500
..    ...         ...     ...
360   두바이  2021-12-27  76.120
361   두바이  2021-12-28  76.470
362   두바이  2021-12-29  76.910
363   두바이  2021-12-30  77.240
364   두바이  2021-12-31  77.120

[365 rows x 3 columns]>

In [366]:
# ondo.columns=['place','name','date','sun']
ondo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   place   365 non-null    object
 1   date    365 non-null    object
 2   uga     365 non-null    float64
dtypes: float64(1), object(2)
memory usage: 8.7+ KB

In [367]:
df = pd.merge(left = ondo , right = baechu, how = "inner", on = "date")
df=df.drop(['place'], axis=1)
df

           date    uga  price
0    2021-01-04  52.49    755
1    2021-01-05  50.50    795
2    2021-01-06  53.51    829
3    2021-01-07  54.52    811
4    2021-01-08  54.58    751
..          ...    ...    ...
243  2021-12-27  76.12    568
244  2021-12-28  76.47    578
245  2021-12-29  76.91    578
246  2021-12-30  77.24    576
247  2021-12-31  77.12    590

[248 rows x 3 columns]

In [368]:
df.to_csv('./무가격/inter유가/2021ugaintegrated.csv', index=False)